body, html, * {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-weight: normal;
}


/*header*/
.header {
    height: 400px;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1551128841-82405ac47477?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80");
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.header--content {
    margin-top: 5em;
    margin-left: 2em;
    color: #000;
}
.header--content p {
    font-size: .7em;
}
.price {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.price button {
    padding: 10px 60px;
    border: 1px solid #000;
    background-color: #afafaf;
    color: #000;
    font-size: 1.2em;
    text-transform: uppercase;
}

/*nav*/

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    heigth: 60px;
    font-family: 'Roboto', sans-serif; /* You can change font */
    transition: .5s;
    color: #fff;
}
/* Adds the background after scrolling */
.nav.bg {
    background: rgba(0,0,0,.5); /* works best with white text / or change color */
    transition: .5s;
}
.nav_left {
    float: left;
    display: flex;
    padding-left: 14em;
}
.nav_left h1 {
    padding: 0;
    margin: 0;
    line-height: 60px;
}
.nav_right {
    float: right;
    display: flex;
    padding-right: 14em;
}
.nav_right ul {
    list-style-type: none;
    display: flex;
}
.nav_right ul li {
    margin-left: 1.5em;
    font-size: 1.3em;
}
.nav_right ul li a {
    line-height: 60px;
    color: #fff;
    text-decoration: 0;
}
.nav_right ul li a#active {
    border-bottom: 1px solid red; /* change to color you want */
}
/*Footer*/
footer {
    background-color: #141414;
    box-shadow: 0px 0px 30px rgba(0,0,0,.8);
    height: 365px;
    bottom: 0;
}

.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer_grid h3 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.fg_1 {
    grid-column: 2/3;
}

.footer_line {
    width: 50px;
    height: 1px;
    background-color: #fff;
}

.footer_grid__content {
    display: block;
    margin: auto;
}

.footer_grid ul{
    margin-top: 2em;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    color: #b1b1b1;
    letter-spacing: 1px;
    padding: 0;
}

.footer_grid ul li {
    margin-top: .5em;
}

.footer_grid ul li a {
    text-decoration: none;
    color: #b1b1b1;
}

footer p {
    margin-top: 2.4em;
    font-family: 'Roboto', sans-serif;
    color: #b1b1b1;
    text-align: center;
    font-size: .9em;
}

/*------------------*/

.producten--grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5em;
}
.product {
    width: 400px;
    text-align: center;
    margin: auto;
}
 .midde {
    text-align: center;
}
.product img {
    width: 400px;
}
.product h2, a{
    text-decoration: none;
    color: #000;
}
.product p {
    color: #4C4C4A;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto;
}
.main img {
    width: 450px;
    margin: auto;
}

.space {
    height: 100px;
}
